/* latin */
@font-face {
  font-family: "Archaic Greek";
  src: url("../images/Archaic Greek.ttf");
}
.rounded {
  border-radius: 0.4rem;
}
#butlertext {
  color: #003399;
  margin-right: 1px;
  font-style: italic;
  background-color: rgba(0, 0, 40, 0.1);
  border-radius: 0.4rem;
}
#helptext {
  color: #003388;
  background-color: lightgrey;
  border-radius: 0.4rem;
}
#hundredoxen {
  height: 100%;
  width: 100%;
  color: #003388;
  padding-right: 3rem;
}
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}
.contents {
  padding: 0 0.3rem;
  margin-right: 0.6rem;
  position: static;
}
input {
  font-family: "Noto Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
h1,
h2,
h3,
h4 {
  background-image: linear-gradient(to right, rgba(16, 16, 16, 0) 10%, #ffffff 50%, rgba(16, 16, 16, 0) 90%);
  color: black;
  text-shadow: 0 1px 0 white;
  text-align: center;
  box-shadow: 3px 3px 5px 2px #444;
  line-height: 150%;
  border-radius: 0.4rem;
}
h1 {
  font-size: 200%;
  margin: 0.5em 10%;
}
h2 {
  font-size: 180%;
  margin: 0.5em 10%;
}
h3 {
  font-size: 140%;
  margin: 0.5em 10%;
}
h4 {
  font-size: 120%;
  margin: 0.5em 10%;
}
.emph2 {
  background-image: linear-gradient(to right, rgba(16, 16, 16, 0) 10%, #ffffff 50%, rgba(16, 16, 16, 0) 90%);
  outline: 2px solid darkblue;
  color: black;
  padding: 0 0.5rem;
  text-shadow: 0 1px 0 white;
  text-align: center;
  line-height: 140%;
  font-size: 120%;
}
em {
  font-style: italic;
  font-weight: bold;
}
p {
  padding: 0;
  margin: 0;
}
#butlertext p {
  margin: 0 0.5rem 0 0.2rem;
}
.greek,
.latin {
  font-family: "Noto Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.underline {
  text-decoration: underline;
}
.italic {
  font-style: italic;
}
strong {
  font-weight: bold;
}
.red {
  color: red;
}
:focus {
  outline: 0;
}
figcaption {
  text-align: center;
  font-size: smaller;
  color: darkblue;
}
figure {
  text-align: center;
  margin: 2rem 0;
}
figure img {
  width: 60%;
  border: 0.2rem groove #003388;
  border-radius: 0.4rem;
}
.textlink {
  box-shadow: 1px 1px 2px 1px #444;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  color: darkblue;
  text-decoration: none;
  font-weight: bolder;
  border-radius: 0.4rem;
  cursor: pointer;
}
/*only for greek & butler frame:*/
.contents p a {
  color: white;
  padding: 0;
  display: inline-block;
  /*for the first-line selector*/
  font-size: 90%;
  border: solid rgba(50, 50, 50, 0.2) thin;
  border-radius: 0.4rem;
}
.contents p a:first-line {
  background-color: rgba(5, 5, 5, 0.2);
}
.greek p a {
  border-width: 0 0.2rem;
}
.latin p a {
  border-right-width: 0.3rem;
}
.bmcolor {
  color: red !important;
}
.icon {
  height: 1.7rem;
}
button.accordion {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  cursor: default;
  padding: 1rem 2rem 1rem 0.5rem;
  margin-top: 4px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
button.accordion.active,
button.accordion:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
button.accordion:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 120%;
  color: #777;
  float: right;
  margin-left: 5px;
}
button.accordion.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}
div.panel {
  padding-left: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}
div.panel p {
  margin-left: 1rem;
}
#thegods header {
  background: linear-gradient(to bottom, #77beff 90%, #008000);
  display: table;
  width: 100%;
}
#thegods header #up {
  margin-bottom: 1.5rem;
}
#thegods #zeus {
  height: 8rem;
  float: left;
  margin-left: 20%;
}
#thegods #warrior {
  height: 6rem;
  margin-top: 2rem;
  margin-right: 25%;
  float: right;
}
#swiffycontainer {
  width: 328px;
  height: 80px;
  display: block;
  position: relative;
  top: -2px;
  margin-left: auto;
  margin-right: auto;
}
#sendform {
  display: flex;
  flex-direction: column;
}
#sendform div {
  margin-bottom: 1rem;
}
