# do not send this one to 100oxen.nl ! only for localhost
# Add Expire headers
<IfModule mod_expires.c>
    ExpiresActive on
    ExpiresDefault                   "access plus 1 year"
</IfModule>
<FilesMatch "\.(php|html)$">
	ExpiresDefault A0
	Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
	Header set Pragma "no-cache"
</FilesMatch>
# HTTPS #
RewriteEngine On
RewriteRule ^(.*)\.[\d]{10}\.(css|js|html)$ $1.$2 [L]
RewriteCond %{HTTPS} !=on
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]
#
# Create the ETag (entity tag) response header field
FileETag MTime

Options -Indexes

ErrorDocument 404 /new404.html