# do not send this one to 100oxen.nl ! only for localhost
# Add Expire headers
<IfModule mod_expires.c>
    ExpiresActive on
    ExpiresDefault                   "access plus 1 year"
    <FilesMatch "^(index.php)$">
        ExpiresByType text/html      "access plus 0 seconds"
    </FilesMatch>
</IfModule>
# HTTPS #
RewriteEngine On
RewriteRule ^(.*)\.[\d]{10}\.(css|js|html)$ $1.$2 [L]
#RewriteCond %{HTTPS} !=on
#RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
#RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
#RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]
#
# Create the ETag (entity tag) response header field
FileETag MTime Size

Options -Indexes
